jupyter
matplotlib
seaborn
yfinance
Nasdaq-Data-Link
cpi
binance-connector
statsmodels
mplfinance
ipywidgets
plotly
sktime
TA-Lib
ta
pandas-datareader
linearmodels
arch
QuantLib
quantstats
cvxpy
PyPortfolioOpt
backtrader
loguru
lightgbm
